<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/interactive.css" type="text/css">
    <!-- <link rel="stylesheet" href="../css/chat.css" type="text/css"> -->
    <title>Explore | H-Exo-Plorers</title>
</head>
<body>
    <h1>Explore Exoplanets</h1>
    <canvas class="webgl"> </canvas>
    <aside>
        <select id="selector">
            <option value="browse">Browse Exoplanets</option>
        </select>
    </aside>
    <div id="container">
        <p id="info"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script type="module" src="../js/rendering.js"></script>
    <% if (loggedIn) { %>
        <!-- Chat button and container -->
        <div id="chat-button">Chat</div>
        <form id="chat-container" action="/chat" method="POST">
            <div id="chat-prev"> </div>
            <input id="chat-input" type="text" placeholder="Enter prompt..." name="prompt">
        </forms>
        <input type="hidden" id="chats" value='<%= chats %>'>
        <script src="../js/process.js"> </script>
        <script type="text/javascript" src="../js/chat.js"></script>
    <% } %>
</body>
</html>