<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/chat.css" type="text/css">
    <title>Login | H-Exo-Plorers</title>
</head>
<body>
    
    <h1>Login</h1>
    <form action="/login" method="POST" id="login-form">
        <input name="name" type="text" placeholder="Username...">
        <input name="password" type="password" placeholder="Password...">
        <button id="submit-login">Login</button>
    </form>
    <% if (loggedIn) { %>
        <!-- Chat button and container -->
        <div id="chat-button">Chat</div>
        <form id="chat-container" action="/chat" method="POST">
            <div id="chat-prev"> </div>
            <input id="chat-input" type="text" placeholder="Enter prompt..." name="prompt">
        </forms>
        <input type="hidden" id="chats" value='<%= chats %>'>
        <script src="../js/process.js"> </script>
        <script type="text/javascript" src="../js/chat.js"></script>
    <% } %>

</body>
</html>