<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" type="text/css">
    <link rel="stylesheet" href="../css/chat.css" type="text/css">
    <title>Not Found | H-Exo-Plorers</title>
</head>
<body>
    <h1>Page Not Found</h1>
    <p>Something</p>
    <script type="text/javascript" src="../js/chat.js"></script>
</body>
</html>