* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

h1 {
    position: fixed;
    color: white;
    z-index: 1;
    top: 2vh;
    left: 2vh;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#info {
    position: fixed;
    color: white;
    left: 50vw;
    top: 5vh;
}

#selector {
    position: fixed;
    background-color: white;
    transform: scale(1.2);
    left: 2vw;
    top: calc(10vh + 10px);
}