* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

h1 {
    position: fixed;
    color: white;
    z-index: 1;
    top: 2vh;
    left: 2vh;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}